<div class="rounded main-container container">
  <app-event-input
    [selectedDate]="selectedDate"
    (addNewEvent)="addNewEvent($event)"
  ></app-event-input>
  <div class="row">
    <div class="calendar-container col-md-4">
      <h5>{{now}}</h5><hr>
      <div class="no-padding no-margin calendar-fit">
        <app-calendar
          (dateChangeEvent)="onSelectedDateChange($event)"
        ></app-calendar>
        <br><br>
      </div>
    </div>
    <div class="col-md-8">
      <div class="container">
        <div *ngIf="nextEvent[0] !== undefined">
          <h5>Next Event | <span  *ngIf="allEvents.length !== undefined" class="badge badge-pill badge-info">{{nextEventRemaining}}</span></h5><hr>
          <div class="container no-padding">
            <app-events
              [events]="nextEvent"
              (deleteEvent)="deleteEvent($event)"
              (updateEvent)="updateEventClicked($event)"
            ></app-events>
          </div>
          <br />
          <h5 *ngIf="upcomingEvents[0] !== undefined">Upcoming Events | <span *ngIf="upcomingEvents.length !== undefined" class="badge badge-info">{{upcomingEvents.length}}</span></h5>
          <hr *ngIf="upcomingEvents[0] !== undefined" />
          <app-events
            [events]="upcomingEvents"
            (deleteEvent)="deleteEvent($event)"
            (updateEvent)="updateEventClicked($event)"
          ></app-events>
        </div>
        <div *ngIf="nextEvent[0] === undefined">
          <div class="empty-message">
            <img src="https://i.ibb.co/dKLPTzJ/emptybook.png" class="empty-image">
            <p class="no-margin">You don't have any events yet! Lets add new Event.</p>
            <p class="no-margin">or</p>
            <p (click)="loadSample()" ><span class="btn-load-sample badge badge-pill badge-secondary">Click this to load sample events</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!------------------------------------------------------------------------------- 
------------------------------ Update Modal -------------------------------------
--------------------------------------------------------------------------------->

<div *ngIf="isUpdateClicked" no-margin no-padding>
  <div
    (click)="cancelUpdate()"
    class="no-margin no-padding update-background"
  ></div>
  <div class="update-form-container">
    <h4>Update</h4>
    <div class="input-container d-flex bd-highlight">
      <div class="p-2 flex-grow-1 bd-highlight">
        <input
          [(ngModel)]="eventToBeUpdated.title"
          type="text"
          name="eventTitle"
          placeholder="Event Title"
          maxlength="45"
        />
      </div>
    </div>
    <div class="input-container d-flex bd-highlight">
      <div class="input-title p-2 bd-highlight">
        <input
          id="update-event-date"
          type="date"
          name="eventDate"
          value="{{ eventToBeUpdated.date }}"
          min="2018-01-01"
          max="2030-12-31"
        />
      </div>

      <div class="no-margin-padding input-hours p-2 bd-highlight">
        <input
          [(ngModel)]="eventToBeUpdatedHH"
          type="text"
          name="eventTitle"
          placeholder="HH"
          maxlength="2"
        />
      </div>

      <div class="no-margin-padding p-2 bd-highlight">
        <p>:</p>
      </div>

      <div class="no-margin-padding input-minutes p-2 bd-highlight">
        <input
          [(ngModel)]="eventToBeUpdatedMM"
          type="text"
          name="eventTitle"
          placeholder="MM"
          maxlength="2"
        />
      </div>

      <div class="no-margin-padding p-2 bd-highlight">
        <div
          class="no-margin-padding time-stamp btn-group btn-group-toggle"
          data-toggle="buttons"
        >
          <label class="btn btn-info btn-sm">
            <input
              (click)="onTimeSpanChange('AM')"
              type="radio"
              name="options"
              id="option1"
            />
            AM
          </label>
          <label class="btn btn-info btn-sm">
            <input
              (click)="onTimeSpanChange('PM')"
              type="radio"
              name="options"
              id="option2"
            />
            PM
          </label>
        </div>
      </div>
    </div>
    <p class="error-update">{{error}}</p>
    <div class="update-btn-container">
      <button (click)="cancelUpdate()" class="btn btn-secondary btn-sm">
        Discard
      </button>
      <button (click)="updateTheEvent()" class="btn btn-primary btn-sm">
        Update
      </button>
    </div>
  </div>
</div>